* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
    /* Sets the font size to 16px */
  font-size: 16px;
    /* Sets the line-height to 1.6 */
  background-color: #fff5e0;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: blue;
}

/* a:visited {
  color: red;
} */

a:hover {
    /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
    /* selected link */
  color: #357b70;
}

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.profile_portrait {
  float: left;
  width: 250px;
  height: 275px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;

}

/* .social-media {
  clear: both;
  display: flex;
  flex-direction: row;
} */

.personal-logo {
  height: auto;
  width: 150px;
  color: #000;
  /* align-self: center; */
}
.navbar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

.navbar li{
  list-style: none;
  padding: 5px;
  display: inline-block;
  
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  background-color: #d3d3d3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 2fr 20px 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.project {
  background-color: #357b70;
  height: 200px;
  width: auto;
}

.about-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  /* align-content: center;
  justify-content: center; */
}

/* RESUME BUTTON */
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color:#357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s; 
  -webkit-transition-timing-function: ease-in-out; 
       -o-transition-timing-function: ease-in-out; 
          transition-timing-function: ease-in-out;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color:#357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s; 
  -webkit-transition-timing-function: ease-in-out; 
       -o-transition-timing-function: ease-in-out; 
          transition-timing-function: ease-in-out;
}

/* ANIMATION PIC */
.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;

  /* animation: 4s color-change infinite alternate linear;
  /*THIS IS CLEANER/CONDENSED AND SAVES SPACE IN YOUR CODE! */
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;

  /* animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; */
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ANIMATIONS */
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate (446px,48px);
            transform: translate (446px,48px)
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate (446px,48px);
            transform: translate (446px,48px)
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@-webkit-keyframes cloud-move {
  from{
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px,50px);
            transform: translate(200px,50px);
  }
}

@keyframes cloud-move {
  from{
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px,50px);
            transform: translate(200px,50px);
  }
}


 /* @keyframes color-change {
    from {
      fill: #edc655;
    }
    to {
      fill: #f76414;
    }
  } */
  
  @-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
  
}
  
  @keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
  
}

/* @keyframes social-links-color-change {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
} */


/* MEDIA QUERYS */
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .project:last-child {
    /* grid-column: auto/auto;
    grid-row: auto/auto; */
    grid-area: auto auto auto auto;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .project:last-child {
    grid-area: auto auto auto auto;
  }

  h1 {
    font-size: 22px;
  }

  @media all and (max-width: 750px) {
    .grid {
      gap: 10px;
    }

    .project:last-child {
      /* grid-area: auto auto auto auto; */
      grid-column: auto / auto;
      grid-row: auto / auto;
    }

    h1 {
      font-size: 22px;
    }

  }
}